.logo {
  background-color: #EDC9AF;

}
#header-img{
  width: 10vw;
}
#nav-bar{

    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    margin: auto;
    background-color:#e5e5e5;
    opacity: .5;
    top: 0;
}
body{
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5
}
.nav-link{
  display: flex;
  flex-direction: row;

}

header {
  position: fixed;

}

#Shop {
  background-color: #EDC9AF;
  width: 350px;
  height: 400px;
  margin: 0 auto;
 

}
